/*

	Defaults

*/

// Variables
$brand-color: #a4243f;
$text-color : #333;

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
	color: $text-color;
}

a {
	color: $text-color;
	text-decoration: none;
	transition: all 0.5s;

	&:active, &:hover, &.active {
		color: $brand-color;
		border-bottom: 1px solid $brand-color;
	}
}

img {
	max-width: 100%;
}
