/*

	Helper Classes

	additional css classes that are used to add to ui elements -- Margins, Pads, etc..

*/

$border: #eee;
$darkborder: #666;

// Borders
.borderleft {
	border-left: 1px solid $border;
	&.dark {
		border-color: $darkborder;
	}
}

.borderright {
	border-right: 1px solid $border;
	&.dark {
		border-color: $darkborder;
	}
}

.bordertop {
	border-top: 1px solid $border;
	&.dark {
		border-color: $darkborder;
	}
}

.borderbottom {
	border-bottom: 1px solid $border;
	&.dark {
		border-color: $darkborder;
	}
}

// Floats
.float-left { float: left; }
.float-right { float: right; }

// Aligns
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

// Margins
.nomargin { margin: 0; }
.margin5 { margin: 5px; }
.margin,.margin10 { margin: 10px; }
.margin20 { margin: 20px; }
.margin30 { margin: 30px; }
.marginright5 { margin-right: 5px; }
.marginright,.marginright10 { margin-right: 10px; }
.marginright20 { margin-right: 20px; }
.marginright30 { margin-right: 30px; }
.marginright40 { margin-right: 40px; }
.marginright50 { margin-right: 50px; }
.marginleft5 { margin-left: 5px; }
.marginleft,.marginleft10 { margin-left: 10px; }
.marginleft20 { margin-left: 20px; }
.marginleft30 { margin-left: 30px; }
.marginleft40 { margin-left: 40px; }
.marginleft50 { margin-left: 50px; }
.margintop5 { margin-top: 5px; }
.margintop,.margintop10 { margin-top: 10px; }
.margintop20 { margin-top: 20px; }
.margintop30 { margin-top: 30px; }
.margintop40 { margin-top: 40px; }
.margintop50 { margin-top: 50px; }
.marginbottom5 { margin-bottom: 5px; }
.marginbottom,.marginbottom10 { margin-bottom: 10px; }
.marginbottom20 { margin-bottom: 20px; }
.marginbottom30 { margin-bottom: 30px; }
.marginbottom40 { margin-bottom: 40px; }
.marginbottom50 { margin-bottom: 50px; }

// No Scroll
.noscroll {
	position: fixed;
	overflow: hidden;
}


// Overflow
.overflowhidden { overflow: hidden; }

// Positions
.positionrelative { position: relative; }
.positionabsolute { position: absolute; }
.positionfixed { position: fixed; }

// Paddings
.nopad { padding: 0 !important; }
.pad5 { padding: 5px; }
.pad,.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad40 { padding: 40px; }
.pad50 { padding: 50px; }
.padleft, .padleft10 { padding-left: 10px; }
.padleft20 { padding-left: 20px; }
.padleft30 { padding-left: 30px; }
.padleft40 { padding-left: 40px; }
.padleft50 { padding-left: 50px; }
.padright { padding-right: 10px; }
.padright20 { padding-right: 20px; }
.padright30 { padding-right: 30px; }
.padright40 { padding-right: 40px; }
.padright50 { padding-right: 50px; }
.padtop5 { padding-top: 5px; }
.padtop,.padtop10 { padding-top: 10px; }
.padtop20 { padding-top: 20px !important; }
.padtop30 { padding-top: 30px; }
.padtop40 { padding-top: 40px; }
.padtop50 { padding-top: 50px; }
.padbottom5 {padding-bottom: 5px; }
.padbottom,.padbottom10 { padding-bottom: 10px; }
.padbottom20 { padding-bottom: 20px; }
.padbottom30 { padding-bottom: 30px; }
.padbottom40 { padding-bottom: 40px; }
.padbottom50 { padding-bottom: 50px; }

// Video Container
.video-wrapper { // is necessary for creating a fluid video container to youtube embedded iframes
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;

	iframe {
		top: 0;
		left: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Visibility
.hidden { display: none; }
.hiddenviaopacity { opacity: 0; }
.hiddenviavisibility { visibility: hidden; }
.reducedopacity { opacity: 0.5; }
.disabledviaopacity { opacity: 0.3; }
